*{
    padding: 0;
    margin: 0;
}
.bk {
    background-image: url(img/bkpiz.png);
    background-size: 100%;
}
.nav {
    background-color: brown;
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0;
    z-index: 100;
 }
 @media only screen and (max-width: 1050px) {
    .nav {
        font-size: 20px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .nav {
        font-size: 37px;
        padding: 5px;
    }
}
.nav li {
    display: inline;
    padding: 10px;
} 
li :first-child {
    padding-right: 10px;
}
.nav ul {
    display: flex;
    align-items: center;
}
.nav a {
    color: white;
    text-decoration: none;
}
.logo img {
    width: 70px;
    padding: 0;
    margin: 0;
}
.logo {
    float: left;
    padding: 0;
}
.banner {
    background-image: url("img/Pepperoni-pizza.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 300px;
    margin-top: 40px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .banner {
    margin-top: 60px;
    }
}
h1 {
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 4px 2px 10px rgb(255, 255, 255);
    letter-spacing: 5px;
    color: rgb(49, 37, 37);
    position: absolute;
    left: 63%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
@media only screen and (max-width: 1050px) {
    h1 {
    position: absolute;
    top: 35%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1 {
    position: absolute;
    top: 13%;
    }
}
.about {
    background-color: tomato;
    background-size: 100%;
    width: 50vw;
    text-align: center;
    border-radius: 21px 21px;
    font-size: 110%;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    padding: 6px;
}
.about img {
    float: center;
    border-radius: 100%;
}
.daria {
    font-size: 20px;
    text-align: center;
    background-color: rgba(247, 202, 57, 0.986);
    margin-bottom: 20px;
    padding: 5px;
}
.cat {
    float: left;
    width: 70px;
}
.headline {
    font-family: 'Shadows Into Light', cursive;
    background-color: white;
}
.pizzahead {
    padding-top: 25px;
}
.Date{
    padding-top: 3px;
}
.article {
    justify-content: center;
    padding-left: 50px;
    padding-right: 60px;
    order: 1;
    flex: 2;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    opacity: 90%;
    padding-top: 30px;
}
@media only screen and (max-width: 1050px) {
    .article {
        padding-bottom: 20px;
    }
}
.article p {
    color: black;
}
.column {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
@media only screen and (max-width: 1050px) {
    .column {
        display: inline;
    }
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.none {
    list-style-type: none;
    font-size: 18px;
    padding-top: 10px;
}
.pad {
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pad a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.recmm {
    background-color: tomato;
    border-radius: 21px 21px;
    order: 2;
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 180px;
    margin-right: 20px;
    margin-left: 100px;
}
@media only screen and (max-width: 1050px) {
    .recmm {
        margin-left: 85px;
        margin-right: 85px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.friend {
    background-color: tomato;
    border-radius: 21px 21px;
    padding: 20px;
    order: 3;
    flex: 1;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 180px;
    margin-right: 30px;
}
@media only screen and (max-width: 1050px) {
    .friend {
        margin-top: 0px;
        margin-left: 85px;
        margin-bottom: 20px;
        margin-right: 85px;
    }
}
.footer {
    padding-top: 30px;
    background-image: url("img/backpizz.jpg");
    background-repeat: no-repeat;
    background-size: 102%;
    background-position-y: -1060px;
    padding: 85px;
}
@media only screen and (max-width: 1050px) {
    .footer {
        background-position-y: -850px;
     }
}
@media only screen and (min-device-width : 425px) and (max-device-width : 480px) {
    .footer {
       background-position-y: -850px;
    }
}
.follow {
    position: absolute;
    left: 1000px;
    top: 1810px;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}
.follow a {
    text-decoration: none;
    text-decoration-color: red;
    color: sandybrown;
}
@media only screen and (max-width: 1050px) {
    .follow {
        position: absolute;
        left: 718px;
        top: 2346px;
    }
}
@media only screen and (min-device-width : 325px) and (max-device-width : 480px) {
    .follow {
        position: absolute;
        left: 750px;
        top: 128%;
        z-index: 2;
    }
}
.credit {
    text-align: center;
    position: absolute;
    top: 1956px;
    left: 36%;
    color: white;
    text-shadow: 4px 2px 10px rgb(0, 0, 0);
}
@media only screen and (max-width: 1050px) {
    .credit {
        top: 2399px;
        left: 25%;
        color: white;
        display: 100%;
    }
}
@media only screen and (min-device-width : 325px) and (max-device-width : 480px) {
    .credit {
        top: 138%;
        left: 25%;
        color: white;
    }
}
.contact {
color:white; 
font-family: 'Shadows Into Light', cursive;
position: absolute;
top: 1810px;
left: 1%;
}
.contact a {
    color: tomato;
}
@media only screen and (max-width: 1050px) {
    .contact {
        top: 2250px;
        left: 1%;
    }
}
@media only screen and (min-device-width : 325px) and (max-device-width : 480px) {
    .contact {
        top: 128%;
        left: 1%;
    }
}